.footer {
    height: 60vh;
    width: 100%;
    background-color: black;
}

.footer_conainer {
    padding: 10vh 9vw 0 9vw;
}

.email_container {
    color: white;
    font-size: 35px;
    font-weight: 800;
    font-family: "Bai Jamjuree";
}

.talk_astrisk_image {
    padding: 4px 12px 0 0;
    height: 15px
}

.lets_talk_text {
    color: grey;
}

.lets_connect_cta {
    height: 6vh;
    width: 11vw;
    background-color: #ff6400;
    color: white;
    font-size: 20px;
}

.footer_hr {
    height: 5px;
    color: white;
}

.name_logo {
    font-size: 30px;
    color: white;
    font-family: "Bai Jamjuree";
}

.lower_section {
    display: flex;
    justify-content: space-between;
}

.quick_links_heading {
    color: white;
    font-size: 20px;
    font-family: "Bai Jamjuree";
}

.quick_links {
    color: white;
    font-size: 15px;
    font-family: "Bai Jamjuree";
}

.social_heading {
    color: white;
    font-size: 20px;
    font-family: "Bai Jamjuree";
}

.contact_heading {
    color: white;
    font-size: 20px;
    font-family: "Bai Jamjuree";
}

.contact {
    color: white;
    font-size: 15px;
    font-family: "Bai Jamjuree";
}

.name_and_intro_container {
    width: 33%;
}

.developer_intro {
    color: white;
    font-size: 15px;
    font-family: "Bai Jamjuree";
}

@media screen and (max-width: 768px) {
    .footer {
        height: fit-content;
    }

    .email_container {
        font-size: 20px;
        justify-content: center;
        display: flex;
        padding-bottom: 2vh;
    }

    span {
        justify-content: center;
    }

    .lower_section {
        flex-direction: column;
        height: fit-content;
        padding-top: 2vh;
    }

    .name_and_intro_container {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 30px;
        text-align: justify;
    }

    .quick_links_container {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 30px;
    }

    .contact_container {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 2vh;
    }

}